@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

body {
    font-family: 'Noto Serif', serif;
    margin: 0px;
    /* background-color: #B2B9C2; */
    /* background-image: url("/images/backgroungImage.svg"); */
    /* background-color: #f5e0dc; */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
    /* color: #F57F6B;   */
}
.navigation {
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    margin: auto;
    box-shadow: 0 1px 18px rgba(146,161,176,.15);
    background: #3B82f6;
    color: white;
    padding:0.5rem 2rem 0.5rem 2rem;
    max-width: 1100px;
    margin: auto;
    padding: 1.5rem;
}

.navigation .nav-brand {
    font-weight: bold;
}

.container-center, h1, p {
    max-width: 500px;
    padding: 0rem 1rem;
    margin: auto;
    text-align: center;
}
.container{
    box-shadow: 0 1px 20px #928f8f;
    margin: 1rem;
    padding: 0.1rem;
    display:flex;
    align-items: center;
    flex-direction: column;
    border-radius: 3rem;
    margin: auto;
    padding-bottom: 2rem;
    
}
h1{
    padding: 1rem;
}

p{
    padding: 1rem;
    font-size: medium;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.5rem;
    margin: auto;
    text-align: left;
}

input {
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    display: block;
    margin: auto;
}

#output {
    text-align: center;
    margin: 0rem 0rem 4rem 0rem;
    font-size: large;
}

#next-button, #check-button {
    background-color: var(--btn-bg-color);
    color: rgb(14, 13, 13);
    margin: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    cursor: pointer;
}

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
}

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

.footer{
    background-color: white;
    padding:2rem 0rem;
    text-align: center;
    color:black;
    border-top-right-radius:1rem;
    box-shadow: 0 1px 25px #E5E7EB;
    margin-top: 3rem;
    background: #3B82f6;
}
.footer .footer-header{
    font-weight: bold;
    font-size: x-large;
    padding-inline-start:0px;
}
.footer .link{
    color:black;
}

.footer ul{
    padding-left:0px;
}

.footer-icon{
    width:2rem;
}
